body,
html {
  min-width: 1000px;
}
svg {
  fill: currentColor;
  vertical-align: middle;
}

a:hover {
  color: #ff8d02;
}
.container {
  max-width: 1470px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.img-logo {
  display: block;
  width: 194px;
  height: 60px;
  background: url(../img/ek-logo.svg) center no-repeat;
}
